= form_for(movie) do |f|
  - if movie.errors.any?
    .ml-4.mr-4
      - movie.errors.full_messages.each do |message|
        %div{ class: "alert alert-danger" }
          = message
  - if movie.id.present?
    = render "edit_fields", movie: movie, f: f
  - else
    = render "share_fields", movie: movie, f: f
