%fieldset.scheduler-border
  %legend.scheduler-border Share a Youtube movie
  .form-group.row
    .col-sm-2
      = f.label :youtube_url, 'Youtube URL'
    .col-sm-10
      = f.text_field :youtube_url, class: 'form-control mr-sm-2', placeholder: 'e.g. https://www.youtube.com/watch?v=RRPp-qbKK6E'
  .form-group.row
    .col-sm-2
    .col-sm-10
      = f.submit 'Share', class: 'btn btn-primary btn-block'