%nav.my-2.my-md-0.mr-md-3
  %span.p-2
    = link_to "Welcome #{session[:user_email]}", profile_index_path, {class: "text-light"}
  = link_to 'Share a movie', new_movie_path, { class: "p-2 ml-4 btn btn-primary" } 
  = link_to 'Logout', logout_path, { class: "p-2 ml-4 btn btn-danger" }
