= form_for(:user, url: login_path, method: :post, html: { class: 'form-inline mt-2 mt-md-0'}) do |f|
  = f.text_field :email, class: 'form-control mr-sm-2 my-2', placeholder: 'Email'
  = f.password_field :password, class: 'form-control mr-sm-2 my-2', placeholder: 'Password'
  = f.submit 'Login / Register', class: 'btn btn-primary my-2'
